.chat-username {
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
	line-height: 1.1rem;
}

.chat-badges {
	max-height: 28px;
	margin: 0px 4px -3px;
	width: auto;
}

.message-container {
	padding: 4px;
	font-family: Inter, Roobert, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.emote {
	max-height: 28px;
	margin: 0px 2px -7px;
	width: auto;
}

span {
	font-weight: 400;
	font-size: 15px;
	color: white;
	line-height: 20px;
}

body {
	background-color: #18181b;
}
