$primary: #3c3b3b;

@import '~bootstrap/scss/bootstrap';

@import './app.scss';
@import './message-text.scss';
@import './message-container.scss';
@import './user-badges.scss';
@import './username.scss';
@import './channel-name.scss';
@import './emote.scss';

.input-group input::placeholder {
	color: rgb(84, 84, 84);
}

.input-group input:focus {
	background-color: #272728;
	color: white;
}

.input-group input {
	background-color: #1e1e21;
	color: white;
}
